*{
    background-color: black;
}
h1{
    font-family: 'Libre Baskerville';
}
.paragraf{
    color: white;
    text-align: center;
}
.metin{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.resim{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
img{
    border: 10px solid white;
}