* {
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.poster {
    width: 50%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.resim {
    border: 5px solid white;
    width: 100%;
}
